.w_80{
    width:85% !important;
}
.w_15 {
    width:15% !important;
}

.tr_shadow {
    box-shadow: 0px 10px 20px 0px #F1F5FF;
}
.reportTable{
    border : 1px solid #CFD4E3 !important;
    border-radius: 8px !important;
    
}
.btnTxt{
    font-weight: 600 !important;
    font-size: 14px !important;
}
.selectBg{
    background-color: #ECF1FF !important;
}
.selectBg option{
    border-radius: 8px !important;
}
.bg_row{
    background-color:#F1F5FF !important;
    
}
.courseTxt{
    font-size: 20px !important;
}
.yearSize{
    font-size: 16px !important;
}
.repText_primary{
color:#0242FF !important;
}
.color{
    color: #031F7D !important;
    font-size: 14px !important;
}
.appLink{
    text-decoration-line: none;
}
.appLink:hover{
    text-decoration : underline;
}
.header{
    font-size: 16px !important;
}
.margin_top{
    margin-top: 112px !important;
}
.reportTableBox{
    box-sizing: border-box !important;
    border: 1px solid #CFD4E3;
    box-shadow: 0px 1px 4px rgba(2, 66, 255, 0.3);
    border-radius: 8px;
}
.height{
    height:83px !important;
}
.allotted{
    background-color: #E1F4E1 !important;
}
.pending{
    background-color: #B2D9F5 !important;
}
.payFirst{
    background-color: #E5D3F4 !important;
}